:root {
  font-size: 16px;
}

$light: #ffffff;
$dark: #2c2c36;

@function spacing($up, $right: $up, $down: $up, $left: $right) {
  @return $up * 0.4rem $right * 0.4rem $down * 0.4rem $left * 0.4rem;
}

html {
  margin: 0;
}

body {
  margin: 0 auto;
  width: 90%;
  max-width: 800px;
}

nav {
  display: flex;
}

#preview {
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    border: none;
  }

  button {
    cursor: pointer;
    border: none;
    padding: spacing(2, 3);
    border-radius: spacing(1);
    color: $light;
    font-size: 1rem;
    background-color: $dark;
  }

  button {
    position: absolute;
    left: 30px;
    bottom: 30px;
    z-index: 1;
    box-shadow: 0px 2px 4px rgb(45 35 66 / 40%),
      /* diffuse shadow behind the button */ 0px 7px 13px -3px rgb(45 35 66 /
            30%),
      /* shadow offset to the bottom for depth */ inset 0px -3px 0px #15151c; /* boottom "edge" of the button */
  }
}
